<!doctype html>
<html>
<head>
	<title>meadowlark travel</title>
	{{#if showTests}}
		<link rel ="stylesheet" href = "/vendor/mocha.css">
	{{/if}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	<header>
		<img src="/img/logo.jpg" alt="meadowlark logo"/>
		<div>This is the header of custom1 layout</div>
	</header>
	{{{body}}}
	<div>This is the footer of custom1 layout</div>
	
</body>
</html>