<!doctype html>
<html>
<head>
	<title>meadowlark travel</title>
</head>
<body>
	<header>
		<img src="/img/logo.jpg" alt="meadowlark logo"/>
		<div>This is the header</div>
	</header>
	{{{body}}}
	<div>This is the footer</div>
</body>
</html>